<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
<body>
{% block content %}
<div class="container card records-container">
  <h2 class="text-center mb-4">Grow Logs:</h2>
  {% if cycles %}
    <ul class="list-group">
      {% for cycle in cycles %}
        <li class="list-group-item d-flex justify-content-between align-items-center" onclick="location.href='{% url 'record' cycle.pk %}'">
          <span>{{ cycle|title }}</span>
        </li>
      {% endfor %}
    </ul>
  {% else %}
      <p style="text-align:center">No records found.</p>
  {% endif %}
  <button class="btn btn-primary mt-3" onclick="location.href='{% url 'create_record' %}'">Create New</button>
</div>
{% endblock %}
</body>
</html>
