<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
<body>
{% block content %}

{% if cycles %}
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Your Grow Logs</th>
    </tr>
    </thead>
    <tbody>
    {% for cycle in cycles %}
    <tr onclick="location.href='{% url 'record' cycle.pk %}'">
        <td>{{ cycle.id }}</td>
        <td>{{ cycle }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No records found</p>
{% endif %}

{% endblock %}
</body>
</html>
