<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
<body>
{% block content %}
<div class="container card records-container">
  <h2 class="text-center mb-4">Grow Logs:</h2>
  {% if cycles %}
    <ul class="list-group">
      {% for cycle in cycles %}
        <li class="list-group-item" onclick="location.href='{% url 'record' cycle.pk %}'">{{ cycle|title }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No records found.</p>
  {% endif %}
  <button class="btn btn-primary mt-3" onclick="location.href='{% url 'new_cycle' %}'">Create New</button>
</div>
{% endblock %}
</body>
</html>

