<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}
{% load static %}
<body>
{% block content %}
<section>
  <div class="cycle-info">
        <h1>{{ cycle.name }}</h1>
        <h2>{{ cycle.date }}</h2>
        <p class="p-cycle-info">{{ cycle.genetics }}</p>
        <p class="p-cycle-info">{{ cycle.seedbank }}</p>
        <p class="p-cycle-info">{{ cycle.fixture }}</p>
  </div>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
      <tr>
        <th>Day</th>
        <th>Temp. (Day)</th>
        <th>Temp. (Night)</th>
        <th>Hum. (Day)</th>
        <th>Hum. (Night)</th>
        <th>pH</th>
        <th>EC</th>
        <th>Light Height</th>
        <th>Light Power</th>
        <th>Calibration</th>
        <th>Reservoir</th>
        <th>Irrigation</th>
        <th>Recipe</th>
        <th>Comment</th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
      {% for log in cycle.logs.all %}
      {% if log.phase == 'vegetative' %}
      <tr>
        <td>{{ log|default_if_none:'' }}</td>
        <td>{{ log.temperature_day|default_if_none:'' }}</td>
        <td>{{ log.temperature_night|default_if_none:'' }}</td>
        <td>{{ log.humidity_day|default_if_none:'' }}</td>
        <td>{{ log.humidity_night|default_if_none:'' }}</td>
        <td>{{ log.ph|default_if_none:'' }}</td>
        <td>{{ log.ec|default_if_none:'' }}</td>
        <td>{{ log.light_height|default_if_none:'' }}</td>
        <td>{{ log.light_power|default_if_none:'' }}</td>
        <td>{{ log.calibration|default_if_none:'' }}</td>
        <td>{{ log.water|default_if_none:'' }}</td>
        <td>{{ log.irrigation|default_if_none:'' }}</td>
        <td>
          <div>
            <ul>
              {% for nutrient_log in log.nutrient_logs.all %}
              <li>{{ nutrient_log.nutrient.name }} - {{ nutrient_log.concentration|default_if_none:'' }}</li>
              {% endfor %}
            </ul>
          </div>
        </td>
        <td>{{ log.comment|truncatewords:10|default_if_none:'' }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% if avg_day_temp %}
    <p>Average day temperature in veg phase: {{ avg_day_temp|floatformat:2 }}</p>
{% else %}
    <p></p>
{% endif %}

<a href="{% url 'phase_summary' pk=cycle.id %}">Wrap Up</a>


{% endblock %}
</body>
</html>