<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grow Log</title>

    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    <script src="https://kit.fontawesome.com/86fd3fc0e8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'styles/script.js' %}"></script>

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li
                {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

</head>

<body>
{% block content %}

{% endblock content %}
</body>
</html>